    --default-padding: 5vw;
    --spacer-3xs: 4px;
    --spacer-2xs: 5px;
    --spacer-xs: 10px;
    --hit-area: 8px;
    --spacer-s: 20px;
    --spacer-sm: 30px;
    --spacer-md: 40px;
    --spacer-m: 50px;
    --spacer-l: 100px;
    --spacer-xl: 200px;
    --spacer-xxl: 300px;
    --font-primary: "Bandit", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-secondary: "ABC Monument Grotesk Mono", "Courier New", monospace;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    -webkit-user-select: none;
    font-weight: 700;
    color: #fff;
    aspect-ratio: auto 904 / 553;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    object-fit: contain;
    width: 904px;
    height: 553px;